WEBSERVER_HTTPS_PORT = 4433
REDIS_PORT           = 6379
WEBSERVER_HTTP_PORT  = 10000
MAILHOG_PORT         = 10001
MARIADB_PORT         = 10002
POSTGRES_PORT        = 10003
ADMINER_PORT         = 10004
REDIS_UI_PORT        = 10005

DB_NAME              = kunthar
DB_USER              = kunthar
DB_PASS              = kunthar
DB_ROOT_PASS         = kunthar